.videoBlock:hover {
    box-shadow: 0 0 2rem black;
    transform: scale(1.08);
    border: 0.5rem solid rgb(255, 193, 7, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.videoBlock {
    border: 0.5rem solid white;
    /* margin: 1rem; */
    transition: transform 0.1s;
    border-radius: 2rem;
}
.videoModal {
    border-radius: 1rem;
    border: 3px solid #ffffff;
    height: 75vh;
    max-width: 90vw;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db; /* Blue color for spinner */
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px); 
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    margin-top: 2%;
    padding: 20px;
    padding-bottom: 10px;
    border: 3px solid #ffffff;       
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    backdrop-filter: blur(5px);  
    border-radius: 1rem;  
    width: fit-content;      
}

.modal-content.yes {
    background-color: rgba(200, 255, 200, 0.8); /* semi-transparent background */
    border: 3px solid rgba(150, 255, 150, 0.5);   
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span.loader.stop{
    display: none;
}

.quizChoice{
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 70vw;    
}

.backgroundClass{
    
    backdrop-filter: blur(5px);  
    
}
.field {    
    margin-right: 1rem;
    max-width: 15vw;
}
.btn {
    width:fit-content;
}
.pageButton.btn.btn-outline-primary {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 1rem;
    text-shadow: 0 0 1px #000;
    color: white;
    border: 1px solid #999;
}
.pageButton.btn.btn-outline-primary:hover {
    /* background-color: rgba(37, 114, 255); */
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.3);
    transform: scale(1.08);
    transition: transform 0.2s;
    color: white;
    border-color: white;
    text-shadow: 0 0 1px #000;
    border: 1px solid #ccc;
}
label.btn.btn-outline-primary {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;   
    border-color: white;   
}
.pageButton.btn.btn-outline-primary.alreadyAnswered {
    border-color: rgb(0, 197, 0);
    background-color: rgba(132, 255, 132, 0.4);
    box-shadow: 0em 0em 0em;
    color:rgb(220, 255, 220);
}
.pageButton.btn.btn-outline-primary.alreadyAnsweredBySomeone {
    border-color: rgb(0, 255, 0);
}
.pageButton.btn.btn-outline-primary.lastAnswered {
    background-color: rgba(0, 255, 0, 0.66);
    border-color: rgb(0, 255, 0);
    color:rgb(255, 255, 255);
    text-shadow: 0 0 1px #000;
}